

h1{
	text-align: center;
}
button{
	margin-top: 50px;
    margin-right: 50px;
	position:absolute;
    top:0;
    right:0;
}

div.temp{
	text-align: center;
}

.selectClass{
	height: 25px;
}

input[type='checkbox'] {
	margin: 10px;
}

select {
	margin-left: 10px;
}