<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Create page</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="js/admincreate.js"></script>
    
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='./css/admin.css' rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <h1>SMHI Admin Create New</h1>
    <button class="btn btn-default" type="logout">Logout</button>
    <<a href="home">Back</a>
</header>

<div ng-app="myWeatherApp">
	<div class="container" ng-app="sortApp" ng-controller="mainController">
	<nav>
		<table class="table table-bordered table-striped">
        	<thead>
        		<tr>
            		<td>
            			SMHI-Id
    				</td>
    				<td>
            			Station Name
    				</td>
        		</tr>
     		</thead>
     	<tbody>
     		<div class="menu">
        	<tr ng-repeat="station in stationDataList" >
            	<td> {{ station.smhiID }}</td>
            	<td ><a href=""  ng-click="open(station.stationName)" onclick="">{{ station.stationName }}</a></td>
        	</tr>
        	</div>
        </tbody>

    </table>
    </nav>
  	
  	<div ng-show="shouldShow">
  	<article>
  		<table class="table table-bordered table-striped" >
        	<thead>
        		<tr>
    				<td colspan="4">
            			{{stName}}
    				</td>
        		</tr>
     		</thead>
     	<tbody>
     		<tr >
     			<td>
     				Date:
     			</td>
     			<td>
     				<input type="text" id="date" name="date" value="">
     			</td>
     			<td>
     				Time:
     			</td>
     			<td>
     				<input type="text" id="time" name="time" value="">
     			</td>
     		</tr>
     		<tr >
     			<td>
     				Temperature:
     			</td>
     			<td>
     				<input type="text" id="temperature" name="temperature" value="">
     			</td>
     			<td>
     				Humidity:
     			</td>
     			<td>
     				<input type="text" id="humidity" name="humidity" value="">
     			</td>
     		</tr>
     		<tr >
     			<td>
     				Wind:
     			</td>
     			<td>
     				<input type="text" id="wind" name="wind" value="">
     			</td>
     			<td>
     				Wind Direction:
     			</td>
     			<td>
     				<input type="text" id="windDirection" name="windDirection" value="">
     			</td>
     		</tr>
     		<tr >
     			<td>
     				Cloud Altitude:
     			</td>
     			<td>
     				<input type="text" id="cloudAltitude" name="cloudAltitude" value="">
     			</td>
     			<td>
     				Cloud Coverage:
     			</td>
     			<td>
     				<input type="text" id="cloudCoverage" name="cloudCoverage" value="">
     			</td>
     		</tr>
     		<tr >
     			<td>
     				Cloud Types:
     			</td>
     			<td>
     				<input type="text" id="cloudTypes" name="cloudTypes" value="">
     			</td>
     			<td>
     				Air Pressure:
     			</td>
     			<td>
     				<input type="text" id="airPressure" name="airPressure" value="">
     			</td>
     		</tr>
     		<tr >
     			<td>
     				Precipitation:
     			</td>
     			<td>
     				<input type="text" id="precipitation" name="precipitation" value="">
     			</td>
     			<td colspan="2">
     				<input type="button" name="" value="CREATE" ng-click="createData()">
     			</td>
     			
     		</tr>
        	
        </tbody>

    	</table>
  	</article>
  	</div>
    </div>
    
</div>	

</body>
</html>