<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminpage</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="js/adminapp.js"></script>
    
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='./css/admin.css' rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <h1>SMHI Admin</h1>
    <button class="btn btn-default" type="logout">Logout</button>
    <<a href="home">Back</a>
</header>

<div ng-app="myWeatherApp">
	<div class="container" ng-app="sortApp" ng-controller="mainController">
	<nav>
		<table class="table table-bordered table-striped">
        	<thead>
        		<tr>
            		<td>
            			SMHI-Id
    				</td>
    				<td>
            			Station Name
    				</td>
        		</tr>
     		</thead>
     	<tbody>
     		<div class="menu">
        	<tr ng-repeat="station in stationDataList" >
            	<td> {{ station.smhiID }}</td>
            	<td ><a href=""  ng-click="open(station.stationName)" onclick="">{{ station.stationName }}</a></td>
        	</tr>
        	</div>
        </tbody>

    </table>
    </nav>
    
    <article>
		<table class="table table-bordered table-striped">
        	<thead>
        		<tr>
    				<td>
            			Station Name
    				</td>
    				<td>
            			Date
    				</td>
    				<td>
            			Time
    				</td>
        		</tr>
     		</thead>
     	<tbody>
        	<tr ng-repeat="station in specificStationData">
            	
            	<td >{{ station.stationName }}</td>
            	<td>{{ station.date }}</td>
            	<td>{{ station.time }}</td>
        	</tr>
        </tbody>

    	</table>
  	</article>
    </div>
    
</div>	

</body>
</html>