
div.container {
    width: 100%;
}
nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

article {
    margin-left: 210px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

h1{
	text-align: center;
}
button{
	margin-top: 75px;
    margin-right: 50px;
	position:absolute;
    top:0;
    right:0;
}

div.temp{
	text-align: left;
	margin-left: 50px;
}

input.buttonAct{
	display: block;
	margin: auto;
	background-color: lightblue;
	color: red;
}