<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="./js/app.js"></script>
    
    
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
	<link href="./css/index.css" rel="stylesheet" type="text/css" />

    <!-- Skapa tabell och sökfunktion med filtrering/sortering med checkbox-->

</head>
<body>



<header>
    <h1>SMHI Index</h1>
    <div class="log">
    	<button class="btn btn-default" type="logout" id="logButton">Logout</button>
    </div>
    <div class="temp">
    	<a href="adminstart.html">Admin Start</a>
    </div>
    
</header>

<div ng-app="myWeatherApp">
<!--checkbox-->
<form action="">
    <br>
</form>


<div class="container" ng-app="sortApp" ng-controller="mainController">

    <div class="alert alert-info">
        <p>Search Query: {{ searchStation }}</p>
    </div>

    <form id="myForm">
      	<div class="form-group">
            <div class="input-group">
                <div class="input-group-add-on"><i class="fa fa-search"></i></div>
                
                <input type="text"  id="search1" placeholder="Search..." ng-model="searchStation" >
				<br>
                
				<br>
           </div>
        </div>
    </form>
    <div style="height:500px;overflow:auto;">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'smhiID'; sortReverse = !sortReverse">
                    Station Id
                    <span ng-show="sortType == 'smhiID' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'smhiID' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'stationName'; sortReverse = !sortReverse">
                    Station Name
                    <span ng-show="sortType == 'stationName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'stationName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                    Date
                    <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
                    Time
                    <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'temperature'; sortReverse = !sortReverse">
                    Temperature
                    <span ng-show="sortType == 'temperature' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'temperature' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'humidity'; sortReverse = !sortReverse">
                    Humidity
                    <span ng-show="sortType == 'humidity' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'humidity' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'wind'; sortReverse = !sortReverse">
                    Wind
                    <span ng-show="sortType == 'wind' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'wind' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'windDirection'; sortReverse = !sortReverse">
                    Wind Direction
                    <span ng-show="sortType == 'windDirection' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'windDirection' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'cloudAltitude'; sortReverse = !sortReverse">
                    Cloud Altitude
                    <span ng-show="sortType == 'cloudAltitude' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'cloudAltitude' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'cloudCoverage'; sortReverse = !sortReverse">
                    Cloud Coverage
                    <span ng-show="sortType == 'cloudCoverage' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'cloudCoverage' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'cloudTypes'; sortReverse = !sortReverse">
                    Cloud Types
                    <span ng-show="sortType == 'cloudTypes' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'cloudTypes' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'airPressure'; sortReverse = !sortReverse">
                    Air Pressure
                    <span ng-show="sortType == 'airPressure' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'airPressure' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'precipitation'; sortReverse = !sortReverse">
                    Precipitation
                    <span ng-show="sortType == 'precipitation' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'precipitation' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="station in stationDataList | orderBy:sortType:sortReverse | filter:searchStation">
            <td>{{ station.smhiID }}</td>
            <td>{{ station.stationName }}</td>
            <td>{{ station.date }}</td>
            <td>{{ station.time }}</td>
            <td>{{ station.temperature }} (°C)</td>
            <td>{{ station.humidity }} (%)</td>
            <td>{{ station.wind }} (m/s)</td>
            <td>{{ station.windDirection }}</td>
            <td>{{ station.cloudAltitude }} (m)</td>
            <td>{{ station.cloudCoverage }} (octas)</td>
            <td>{{ station.cloudTypes }}</td>
            <td>{{ station.airPressure }} (hPa)</td>
            <td>{{ station.precipitation }} (mm/h)</td>
        </tr>
        </tbody>

    </table>
	</div>
</div>


<!--<table style="width:100%">
    <tr>
        <th>Station id</th>
        <th>Stationsname</th>
        <th>Date</th>
        <th>Time</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Wind</th>
        <th>Wind Direction</th>
        <th>Cloud Altitude</th>
        <th>Cloud Coverage</th>
        <th>Cloud Types</th>
        <th>Air Pressure</th>
        <th>Precipitation</th>
    </tr>

</table>-->

</div>
</body>
</html>